* {
    box-sizing: border-box;
    transition: all 1s linear;
}
body{
    background-color: gray;
    margin: 0;
	overflow: hidden;
}

header{text-align: center; height: 40px;}

aside{
 width: 12em;
    box-shadow: 0px 1px 12px lightskyblue;
    margin-right: 16px;
    padding-left: 15PX;
    height: 99%;
    padding: 1em;
}

#container {
      height: calc(100vh - 110px);
    background-color: azure;
    display: flex;
}
#puzzleArea{
    min-height: 10%;
    min-width: 7%;
}

li.col:hover {

    background-color: aqua;
    cursor : pointer;
}

div.drag-me {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 5px;
    cursor: nwse-resize;
    width: 5px;
}
li.col{
    display: inline-block;
    max-width: 12em;
	width:100%;
    font-size: 15%;
    background-color: aquamarine;
    margin: 2px;
    text-align: -webkit-center;
}
ul.row {
    display: flex;
    padding: 0;
    margin: 0;
    text-align: center;
}
section {
         width: calc(100vw - 10.8em);
    position: relative;
overflow: auto;
}
#clickBtn {
    width: 100%;
    margin-top: 1em;
}
input:hover {
    background-color: aqua;
    cursor: pointer;
    border-radius: 5px;
}
input.text{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1em;
}
span.question-class{
    background-image: url(help.png);
    background-size: 79% 60%;
    background-position: center;
}
span.answer-class{
    background-image : url('');
   
    text-shadow: 2px 2px yellow;
}
/*ease*/
span.icon{
	 font-size: 12em;
    height: 35px;
    width: 100%;
    display: inline-block;
    background-repeat: no-repeat;
}

footer.footer {
    background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    height: 50px;
}
#divElementToClone{
    display : none;
}
aside>div:last-child {
    display: none;
    position: absolute;
    bottom: 15%;
}

#error_blk {
    margin-top: 1em;
    color: red;
    font-size: 0.81em;
}
